<!doctype html>

<head>
  <title>Riot tag tests</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--[if lt IE 9]>
    <script src="ie8/es5-shim.js"></script>
    <script src="ie8/html5-shiv.js"></script>
    <script>
    html5.addElements('timetable timer loop-manip loop-child looped-child loop-context loop-replace loop-position ' +
      'tag-nesting inner1 inner2 inner-html loop-strings loop-object loop-multi loop-nested table-data')
    </script>
  <![endif]-->
</head>

<body>


  <!-- Custom brackets with riot.tag() -->

  <script src="../dist/riot/riot.js"></script>

  <test-a></test-a>
  <test-b></test-b>
  <test-c></test-c>
  <test-d></test-d>

  <script>
      
    riot.settings.brackets = '[ ]'
    riot.tag('test-a', '<p>[ x ]</p>', function() { this.x = 'ok' })
    riot.mount('test-a')

    riot.settings.brackets = '<% %>'
    riot.tag('test-b', '<p><% x %></p>', function() { this.x = 'ok' })
    riot.mount('test-b')

    riot.settings.brackets = '${ }'
    riot.tag('test-c', '<p>${ x }</p>', function() { this.x = 'ok' })
    riot.mount('test-c')

    riot.settings.brackets = null
    riot.tag('test-d', '<p>{ x }</p>', function() { this.x = 'ok' })
    riot.mount('test-d')

  </script>


  <!-- Custom brackets with compiler.js -->

  <script src="../dist/riot/compiler.js"></script>

  <test-e></test-e>
  <test-f></test-f>
  <test-g></test-g>

  <script type="riot/tag">
    
    <test-e>
      <p>[ x ]</p>
      this.x = 'ok'
    </test-e>
    
    <test-f>
      <p>${ x }</p>
      this.x = 'ok'
    </test-f>
    
    <test-g>
      <p>{ x }</p>
      this.x = 'ok'
    </test-g>

  </script>

  <script>

    riot.settings.brackets = '[ ]'
    riot.mount('test-e')

    riot.settings.brackets = '${ }'
    riot.mount('test-f')

    riot.settings.brackets = null
    riot.mount('test-g')

  </script>
  

</body>