# this folder will be re added once the tests will be refactored
test/polyfills
test/vendor
/test/coverage
test/specs/server/compiler/fixtures
test/specs/server/compiler/expect
test/specs/server/compiler/parsers/js
test/performance/db-monster
test/performance/benchmarks/riot.*.js
