<nested-imports>
  <simple message={state.message}></simple>

  <script>
    import Simple from './simple.riot'

    export default {
      components: {
        simple: Simple
      }
    }
  </script>
</nested-imports>