<simple>
  <p onclick={onClick}>{state.message || props.message}</p>

  <style>
    :host {
      color: rgb(255, 0, 0);
    }
  </style>
  <script>
    export default {
      onClick() {
        this.update({
          message: 'clicked'
        })
      }
    }
  </script>
</simple>