<spread-attribute>
  <p {...state.attributes}>I am a tag</p>

  <script>
    export default {
      state: {
        attributes: {
          hidden: true
        }
      }
    }
  </script>
</spread-attribute>