<custom-tag-ref-attribute>
  <child ref={ref}/>

  <script>
    import Child from './child.riot'

    export default {
      components: { Child },
      ref(element) {
      }
    }
  </script>
</custom-tag-ref-attribute>
