<dashed-attribute-parent>
  <dashed-attribute-child my-attribute={'hello'}/>

  <script>
    import DashedAttributeChild from './dashed-attribute-child.riot'

    export default {
      components: {
        DashedAttributeChild
      }
    }
  </script>
</dashed-attribute-parent>
