<each-children-components-events>
  <child each={item in items} onclick={props.onClick()}></child>

  <script>
    import Child from './child.riot'

    export default {
      components: {
        Child,
      },
      items: [{
        name: 'hello'
      }, {
        name: 'there'
      }]
    }
  </script>
</each-children-components-events>