<each-custom-children-componentsœ>
  <child each={item in state.items} onclick={props.onClick()}></child>

  <script>
    import Child from './child.riot'

    export default {
      components: {
        Child,
      },
      onBeforeMount(props) {
        this.state = {
          items: props.items
        }
      }
    }
  </script>
</each-custom-children-componentsœ>