<each-root-attributes>
  <p each={item in items} class={classes.something}></p>

  <script>
    export default {
      items: [1],
      classes: {
        something: 'something'
      }
    }
  </script>

</each-root-attributes>