<invalid-pure-html-component>
  <p>hello</p>
  <script>
    import { pure } from '../../src/riot'

    export default pure(({ slots, attributes }) => {
      return {
      }
    })
  </script>
</invalid-pure-html-component>