<invalid-pure-css-component>
  <style>
    :host {
      color: red;
    }
  </style>

  <script>
    import { pure } from '../../src/riot'

    export default pure(({ slots, attributes }) => {
      return {
      }
    })
  </script>
</invalid-pure-css-component>