<issue-3003-parent>
  <static-component></static-component>

  <script>
    import StaticComponent from './static-component.riot'

    export default {
      components: { StaticComponent }
    }
  </script>
</issue-3003-parent>
