<issue-3055-parent>
  <my-button style="display: inline-block; border: 5px solid orange">
    <slot name="default" slot="default"/>
  </my-button>

  <script>
    import MyButton from './issue-3055-child.riot'

    export default {
      components: { MyButton }
    }
  </script>
</issue-3055-parent>
