<issue-2895-child>
  <h1>hello</h1>
  <script>
    export default {
      onMounted({ scope }) {
        scope.update({
          message: 'hello'
        })
      }
    }
  </script>
</issue-2895-child>
