<issue-3011-missing-css-class>
  <class-duplication class='custom' />

  <script>
    import ClassDuplication from './issue-2994-class-duplication.riot'

    export default {
      components: { ClassDuplication }
    }
  </script>
</issue-3011-missing-css-class>
