<issue-2978-parent>
  <child {...state}/>

  <script>
    import Child from './issue-2978-child.riot'
    export default {
      components: {Child},
      state: { a: 'a' },
    }
  </script>
</issue-2978-parent>
