<message-provider-hoc>
  <article onclick={ onClick }>
    <slot message={state.message}/>
  </article>

  <script>
    export default {
      state: {
        message: 'hello'
      },
      onClick() {
        this.update({
          message: 'goodbye'
        })
      }
    }
  </script>
</message-provider-hoc>