<nested-imports>
  <simple message={state.message || props.message}></simple>

  <script>
    import Simple from './simple.riot'

    export default {
      components: {
        Simple
      }
    }
  </script>
</nested-imports>