<parent-context>
  <parent-context-child/>

  <script>
    import parentContextChild from './parent-context-child.riot'

    export default {
      components: {
        parentContextChild,
      },

      test: new Set()
    }
  </script>
</parent-context>
