<parent-with-slots>
  <simple-slot>
    {props.message}
  </simple-slot>

  <script>
    import SimpleSlot from './simple-slot.riot'

    export default {
      components: {
        SimpleSlot
      }
    }
  </script>
</parent-with-slots>