<parent-value-prop>
  <child value={props.value}/>

  <script>
    import Child from './child.riot'

    export default {
      components: {
        Child
      }
    }
  </script>
</parent-value-prop>