<static-attribute>
  <title-prop title="hello"/>

  <script>
    import TitleProp from './title-prop.riot'

    export default {
      components: {
        TitleProp
      }
    }
  </script>
</static-attribute>