<sub-nested-slot>
  <simple-slot>
    <slot></slot>
  </simple-slot>

  <script>
    import SimpleSlot from './simple-slot.riot'

    export default {
      components: {
        SimpleSlot,
      },
    }
  </script>
</sub-nested-slot>
