<virtual-each>
  <dl>
    <template each={item in state.items}>
      <dt>{item.title}</dt>
      <dd>{item.description}</dd>
    </template>
  </dl>
  <script>
    export default {
      onBeforeMount(props) {
        this.state = {
          items: props.items
        }
      }
    }
  </script>
</virtual-each>