<!doctype html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <title>Riot.js | Speed comparison</title>

   <style>
   body { font-family: "myriad pro", "verdana"; max-width: 800px; margin: 3em auto; }
   #speed_stats { margin-bottom: 2em; }
   .stat       { font-size: 90%; }
   .stat *     { display: inline-block; }
   .stat label { width: 15%; }
   .stat em    { width: 10%; color: #777; }
   .stat div   { width: 74%; }
   .stat span  { height: 7px; background-color: blue; min-width: 1px; border-radius: 4px; }
   button      { padding: .6em 1em; font-size: 100%; cursor: pointer;}
   </style>

   <script src="../bower_components/jquery/jquery.min.js"></script>
   <script src="../riot.js"></script>
   <script src="others.js"></script>

   <script>
   $(function() {

      // test data
      var data = {
         firstname: 'John',
         lastname: 'Doe',
         job_title: 'Developer',
         description: 'A client side framework expert',
         phone: '+234 22389 0239',
         address: 'Sim street 89, 2033, Kreuzberg',
         city: 'Portland',
         country: 'Germany',
         age: 33,
         sex: 'male',
         length: 178
      }

      // container for results
      var results = {};

      // repeat amounts for each run
      var repeat_amounts = [20, 50, 200, 500];

      // test function
      function test(name, repeat_amount, template, templateFunction) {
         var start = +new Date, str,
            stat = results[name];

         // container for stats
         if (!stat) stat = results[name] = [];

         // compile time
         if ($.isFunction(template)) template = template()

         // execution time
         for (var i = 0; i < repeat_amount; i++) {
            str = templateFunction(template, data)
         }

         // push results
         stat.push(+new Date - start)
      }

      // syntaxes
      var riot_syntax = $("#riot_syntax").html(),
         ejb_syntax = $("#ejb_syntax").html().replace(/&lt;/g, "<").replace(/&gt;/g, ">"),
         moustache_syntax = $("#moustache_syntax").html();


      function run() {

         results = {};

         // go trough tests
         $.each(repeat_amounts, function(i, repeat) {

            // riot
            test("Riot", repeat, riot_syntax, riot.render)

            // resig
            test("Resig", repeat, ejb_syntax, tmpl)

            // hogan
            test("Hogan", repeat, function() {
               return Hogan.compile(moustache_syntax)

            }, function(tmpl) {
               return tmpl.render(data)
            })

            // underscore
            test("Underscore", repeat, function() {
               return _.template(ejb_syntax)

            }, function(tmpl) {
               return tmpl(data)
            })

            // handlebars
            test("Handlebars", repeat, function() {
               return Handlebars.compile(moustache_syntax)

            }, function(tmpl) {
               return tmpl(data)
            })

         })

         // render results
         var stat_root = $("#speed_stats").empty(),
            stat_tmpl = $("#stat_tmpl").html(),
            max = [0, 0, 0, 0];

         // find max values
         $.each(results, function(name, values) {
            $.each(values, function(i, value) {
               if (value > max[i]) max[i] = value;
            })
         })

         // render bars
         $.each(repeat_amounts, function(i, amount) {

            stat_root.append($("<h3/>", { text: amount + " repeats" }))

            $.each(results, function(engine, results) {

               var time = results[i];

               stat_root.append(riot.render(stat_tmpl, {
                  stat: engine,
                  width: time / max[i] * 100,
                  value: time + "ms"
               }))
            })

         })

      }

      $("button").click(run)

      run()

   })
   </script>
</head>

<body>

   <script type="text/tmpl" id="stat_tmpl">
      <div class="stat">
         <label>{ stat }</label>
         <em>{value}</em>
         <div class="bar">
            <span style="width: { width }%"></span>
         </div>
      </div>
   </script>

   <script type="text/tmpl" id="riot_syntax">

      <div class="vcard">

         <div class="hgroup">
            <h1 class="main-title">{ firstname } { lastname }</h1>
            <h2>{ job_title }</h2>
         </div>

         <h3> { description }</h3>

         <div class="meta">
            <p>Phone   <span>{ phone }</span></p>
            <p>Address <span>{ address }</span></p>
            <p>City    <span>{ city }</span></p>
            <p>Country <span>{ country }</span></p>
         </div>

         <div class="extra">
            <p>Age      <span>{ age }</span></p>
            <p>Sex      <span>{ sex }</span></p>
            <p>Length   <span>{ length }</span></p>
         </div>

      </div>

   </script>

   <script type="text/tmpl" id="ejb_syntax">

      <div class="vcard">

         <div class="hgroup">
            <h1 class="main-title"><%= firstname %> <%= lastname %></h1>
            <h2><%= job_title %></h2>
         </div>

         <h3> <%= description %></h3>

         <div class="meta">
            <p>Phone   <span><%= phone %></span></p>
            <p>Address <span><%= address %></span></p>
            <p>City    <span><%= city %></span></p>
         </div>

         <div class="meta">
            <p>Phone   <span><%= phone %></span></p>
            <p>Address <span><%= address %></span></p>
            <p>City    <span><%= city %></span></p>
            <p>Country <span><%= country %></span></p>
         </div>

         <div class="extra">
            <p>Age      <span><%= age %></span></p>
            <p>Sex      <span><%= sex %></span></p>
            <p>Length   <span><%= length %></span></p>
         </div>

      </div>

   </script>

   <script type="text/tmpl" id="moustache_syntax">

      <div class="vcard">

         <div class="hgroup">
            <h1 class="main-title">{{ firstname }} {{ lastname }}</h1>
            <h2>{{ job_title }}</h2>
         </div>

         <h3> {{ description }}</h3>

         <div class="meta">
            <p>Phone   <span>{{ phone }}</span></p>
            <p>Address <span>{{ address }}</span></p>
            <p>City    <span>{{ city }}</span></p>
            <p>Country <span>{{ country }}</span></p>
         </div>

         <div class="extra">
            <p>Age      <span>{{ age }}</span></p>
            <p>Sex      <span>{{ sex }}</span></p>
            <p>Length   <span>{{ length }}</span></p>
         </div>

      </div>

   </script>

   <div id="speed_stats"></div>

   <button>Run again</button>

</body>

